<div *ngIf="adding" class="myForm">
    <form (ngSubmit)="submit()" #f="ngForm">
        <div class="form-group">
            <label for="camName">Name</label>
            <input type="text" class="form-control" id="camName" aria-describedby="helpName"
                   placeholder='for example camera on station "University"'
                   name="camName" [(ngModel)]="model.camName" #camName="ngModel" required
                   #camNameValid="ngModel"
            >
            <small id="helpName" class="form-text text-muted">Enter camera name</small>
        </div>
        <div class="form-group">
            <label for="camURL">URL</label>
            <input type="text" class="form-control" id="camURL" aria-describedby="helpURL"
                   placeholder="for example rtsp://184.72.239.149/vod/mp4:BigBuckBunny_175k.mov"
                   name="camURL" [(ngModel)]="model.camURL" #camName="ngModel" required
                   #camURLValid="ngModel" minlength="7"
            >
            <small id="helpURL" class="form-text text-muted">Enter camera URL</small>
        </div>
        <button [disabled]="camNameValid.invalid || camURLValid.invalid" type='submit' class="btn btn-primary">Submit
        </button>
    </form>
</div>


<div *ngIf="!adding">
    <ul class="nav">
        <li class="nav-item">
            <p class="nav-link disabled">Name</p>
        </li>

        <li class="nav-item">
            <p class="nav-link disabled">{{model?.camName}}</p>
        </li>
        <li class="nav-item">
            <p class="nav-link disabled">URL</p>
        </li>

        <li class="nav-item">
            <p class="nav-link disabled">{{model?.camURL}}</p>
        </li>
        <li>
            <p class="nav-link disabled">Date added</p>
        </li>

        <li class="nav-item">
            <p class="nav-link disabled">{{model?.date |date:'yyyy-MM-dd HH:mm:ss'}}</p>
        </li>

    </ul>
    <div *ngIf="imgBase64" class="imageContainer">
        <img [src]="imgBase64" class="imgWidth">

    </div>
    <div [class]="hideSpinner?'':'loader'"></div>
</div>
