.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-bottom: 16px solid blue;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;

    top: calc(50% - 60px);
    right: calc(50% - 60px);
    position: absolute
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.myForm {
    width: 50%;
    top: 25%;
    right: 25%;
    position: absolute;
}
.imageContainer{
    width: 70%;
    right: 15%;
    position: absolute;
}
.imgWidth{
    width: 100%
}